<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLACEHOLDER HTML PAGE</title>
</head>
<body>
<h1> This is a placeholder html page :) It will be the "frontend" until later in further tasks</h1>
<form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
</form>

<h2> Quotes </h2>

<ul class="quotes">
    <!-- Loop through quotes -->
    <% for(var i = 0; i < quotes.length; i++) { %>
        <li class="quote">
            <span><%= quotes[i].name %></span>:
            <span><%= quotes[i].quote %></span>
        </li>
    <% } %>
</ul>


<div>
    <h2>Come come let's change a quote</h2>
    <p>
        update name of first quote with some name
    </p>
    <button id="update-button">Replace Ritesh's quote with a troll quote</button>
</div>


<div>
    <h2>Delete the last troll quote</h2>
    <p>
        Delete one troll quote, if there are any...
    </p>

    <button id="del-btn">Delete Troll quote</button>
</div>

<div id="message"></div>

<script src="/main.js"></script>
</body>

</html>

