[submodule "taskA/CarbonEconomy"]
	path = taskA/CarbonEconomy
	url = https://github.com/CarbonEconomy/CarbonEconomy.git
[submodule "taskA/A2_IntroductionToKubernetes/docker_tut"]
	path = taskA/A2_IntroductionToKubernetes/docker_tut
	url = https://github.com/docker/getting-started.git
[submodule "tutorials/cs3219-devops"]
	path = tutorials/cs3219-devops
	url = https://github.com/WeiTangLau/cs3219-devops.git
[submodule "tutorials/cs3219_devops_original_repo"]
	path = tutorials/cs3219_devops_original_repo
	url = https://github.com/WeiTangLau/cs3219-devops
